@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --white:#fff;
  --black:#111;
  --blue:#3a80e9;
  --grey:#888;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  /* height: 200vh; */
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

::selection{
  background-color: navy;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}

a{
  color: var(--white);
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  }

  .makeGray{
    background-color: var(--darkgrey);
    width: 95%;
    margin:auto;
    border-radius: 1rem;
  }

  .myChart{
    width:"95%";
    height:"auto";
    margin:"auto";
    padding: 2rem;
  }
  .makeGray td{
    text-align: left;
  }
  .makeGray .logoTd{
    text-align: right;
    padding-right: 3rem;
  }

  
  .lineChart{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  /* Compare Page Styling */
  .compare-input-flex{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    padding-left: 5rem;
    margin-top: 1rem;
  }

  .watchMain{
    min-height: 55vh;
  }

  @media screen and (max-width:1000px) {
  
    .watchh1{
      font-size: 30px;
    }
  }

  @media screen and (max-width:800px) {
    .compare-input-flex{
      flex-direction: column;
    }
    .watchh1{
      font-size: 25px;
    }
  }

  

  @media screen and (max-width:400px) {
  
    .watchh1{
      font-size: 15px;
    }
  }
